@{
  Layout = "_Layout";
}

<div class="jumbotron">
  <h1>Best Restaurants!</h1>
</div>

<div class="container">
  <h1>Enter a new cuisine!</h1>
  <form action="/" class="form-group" method="post">
    <label for="cuisine-name">Enter a cuisine</label>
    <input type="text" class="form-control" name="cuisine-name" value="" <input pattern=".{1,}" required title="Minimum 1 character required">

    <button type="submit" name="button" class="btn btn-success">Submit the cuisine!</button>
  </form>


  @if(Model!=null)
  {
    @foreach(var cuisine in Model)
    {
      <div class="well">
        <form action="/cuisine-deleted/@cuisine.GetId()" method="post">
        <h3><a href="/cuisine-details/@cuisine.GetId()">@cuisine.GetName()</a> <span style="font-size:   .5em"><a href="/cuisine-details/@cuisine.GetId()/edit">edit</a></span><button type="submit" class="btn btn-danger">Delete</button></h3>
        </form>
      </div>
    }
  }
</div>
